<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dvtonder.chronus.sample_icon_pack">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dvtonder.chronus.ICON_PACK"/>
            </intent-filter>
            <!-- The recoloringMode meta data attribute controls whether the icon
                 set can or should be recolored based on the font colors chosen by
                 the user. Valid values include:

                 always - Apply the user chosen color whenever the icon is shown.
                 ifNeeded - Only apply the user chosen color if it is required. This
                            mostly applies to the icon being shown in the weather extension.
                 never - (default) Never apply any color masking to the icons. This will
                         cause them to not be selectable as weather extension icon set.
            -->
            <meta-data
                android:name="recoloringMode"
                android:value="never" />
        </activity>
    </application>
</manifest>
